.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: "#5D5D5F";
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
    margin-top:20px;
    margin-bottom:23.55px;
}

